.bannerContainer {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;

  .bannerImage {
    width: 100%;
    height: clamp(110px, 25vw, 250px);
    object-fit: cover;
    filter: brightness(0.5);
  }

  .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: clamp(20px, 5vw, 48px);
    line-height: 1.2;
    text-shadow: 4px 4px 0px #00000040;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    white-space: pre-line;

    @media (max-width: 767px) {
      text-align: left;
      left: 5%;
      transform: translateY(-50%);
    }
    .mobile-break {
      display: inline;

      @media (max-width: 767px) {
        display: block;
        height: 0;
      }
    }
  }
}
